body {
  margin: 2em;
}
#create {
  max-width: 40vw;
}
#card_container {
  /* border: 2px solid black; */
  width: 100%;
  min-height: 50vh;
  margin-top: 5px;
  padding: 7px;
  font-weight: bold;
  position: relative;
}
#card_image {
  margin: 25px;
  width: 100%;
}
footer {
  margin: 15px 0 15px 0;
}
button {
  display: block;
}

#recipient_preview {
  position: absolute;
}

#sender_preview {
  position: absolute;
}

#videoContainer {
  bottom: 100px;
  right: 15px;
  position: absolute;
  z-index: -1;
}

#videoElement {
  width: 170px;
}

/* Larger than mobile screen */
@media (min-width: 40.0rem) {
  #card_container {
    width: 30vw;
    min-height: 80vh;
    font-size: 1.5vw;
  }
  #card_image {
    margin: 25px;
    width: 30vw;
  }
  button {
    display: inline;
  }
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}